<% if @name %>
<h2>My name is <%= @name %></h2>
<% end %>
<% if @emotion %>
<h2>...and I'm <%= @emotion %></h2>
<% end %>
<div style='border: 3px dashed red'>
  <img src='http://bit.ly/1eze8aE'>
</div>
